body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.grid-container {
    display: grid;
    height: 100%;
    grid-template-rows: 1.5fr 4fr 3fr 2fr;
    grid-template-columns: 1fr 1.2fr 2fr;
    grid-template-areas: "main main nav"
                         "main main icecream"
                         "tasty healthy icecream"
                         "footer footer icecream";
}
main {
    grid-area: main;
    background-color: crimson;
    position: relative;
}
.tasty {
    background-color: greenyellow;
    grid-area: tasty;
   align-items: center;
   justify-content: center;
   display: flex;
}
.healthy {
    grid-area: healthy;
    background-color: yellow;
    align-items: center;
   justify-content: center;
   display: flex;
}
footer {
    grid-area: footer;
    background-color: blueviolet;
    align-items: center;
   justify-content: center;
   display: flex;
}
nav {
    grid-area: nav;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icecream {
    background-image: url(img/ice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: icecream;
}
.logo span {
    font-family: "Pacifico", cursive;
    color: white;
    font-size: 75px;
    padding: 0 50px;
    cursor: pointer;
}
.text, h5, span {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: #444444;
}
.text {
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    font-size: 25px;
    padding: 0 50px;
}
.left, .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.hamburger > div {
    background-color: #707070;
    height: 5px;
    margin: 6px 0;
    width: 35px;
}
.hamburger > div:nth-child(2) {
    background-color: orange;
}
.right > span {
    color: orange;
}
span {
    font-size: 35px;
}
.grid-container